<!DOCTYPE html>
<html>
    <head>
       
    </head>
    <body>
        <h1>Log in!</h1>
       
       
        <form method=POST action="/login">
            <input name="user-name" type="text" placeholder="Username"><br>
           
            <input type="password" value="" id="myInput" placeholder="Password">
 
<!-- An element to toggle between password visibility -->
            <input type="checkbox" onclick="myFunction()">Show Password <br>
           
            <script>
           
            </script>
 
 
            <input type="submit"  value="Login" />
           
        </form>
 
    </body>
</html>